/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
	background-color: black;
   }
   
   .container{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
   }
   
	#wrapper{
		width: 100%;
		height: 100%;
	}
	
	#branding{
		height: 85px;
		position: relative;
	}
	
	#branding #mainlogo{
		margin-top: 5px;
		margin-left: 300px;
		position: absolute;
	}
	
	#nav-background{
		width: 100%;
		background-color: red;
	}
	
	#nav{
		height: 60px;
		line-height: 60px;
		background-color: red;
	}
	
	#nav li{
		display: inline;
		margin-left: 120px;
		margin-right: 45px;
	}
	
	#nav ul{
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#nav a{
		text-decoration: none;
		color: #ffffff;
		font-weight: 800;
		font-size: 24px;
	}
	
	#content h2{
		color: #ffffff;
		text-align: center;
		font-family: Harlow Solid Italic;
	}
	
	#content{
		position: relative;
	}
	
	#content #storefront_img{
		margin-top: 10px;
		margin-left: 0px;
	}
	
	#content #lou_img{
		margin-top: 10px;
		margin-left: 44px;
	}
	
	#content #about_text{
		color: #ffffff;
		text-align: center;
		font-size: 16px;
		font-weight: ;
	}
	
	#content #services_header{
		height: 35px;
		background-color: red;
		width: 960px;
	}
	
	#content #Services{
		color: #ffffff;
		font-size: 24px;
		font-weight: 800;
		margin-top: 15px;
		margin-left: 425px;
	}
	
	#content h3{
		font-size: 25px;
		color: white;
	}
	
	#content #table_area table{
		margin-top: 15px;
		margin-left: 10px;
		margin-right: 10px;
		width: 940px;
	}
	
	#content #table_area th.table_header{
		font-weight: 550;
		font-size: 22px;
		text-align: center;
		letter-spacing: 2px;
		color: #ffffff;
		border: 2px solid black;
		width: 300px;
		background-color: red;
	}
	
	#content #table_area td{
		font-size: 14px;
		font-weight: 600;
		margin-left: 1px;
		margin-right: 1px;
		text-align: center;
		border: 2px solid black;
		background-color: white;
	}
	
	#content #lessons_header{
		height: 35px;
		background-color: red;
		width: 960px;
	}
	
	#content #Lessons{
		color: #ffffff;
		font-size: 24px;
		font-weight: 800;
		margin-top: 15px;
		margin-left: 425px; 
	}
	
	#content #video_frame{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#content #lessons_text{
		color: #ffffff;
		text-align: center;
	}
	
	#content #brand_header{
		height: 35px;
		background-color: red;
		color: #ffffff;
		font-size: 24px;
		font-weight: 800;
		text-align: center;
		position: relative;
	}
	
	#content #logo_area{
		position: relative;
		background-color: white;
		height: 560px;
	}
	
	#content #logo_area #gretsch_logo{
		margin-left: 20px;
		margin-top: 50px;
		position: absolute;
	}
	
	#content #logo_area #hartke_logo{
		margin-top: 30px;
		margin-left: 250px;
		position: absolute;
	}
	
	#content #logo_area #samson_logo{
		margin-top: 32px;
		margin-left: 500px;
		position: absolute;
	}
	
	#content #logo_area #emg_logo{
		margin-left: 740px;
		margin-top: 0px;
		position: absolute;
	}
	
	#content #logo_area #ibanez_logo{
		margin-left: 13px;
		margin-top: 230px;
		position: absolute; 
	}
	
	#content #logo_area #jayturser_logo{
		margin-left: 250px;
		margin-top: 240px;
		position: absolute;
	}
	
	#content #logo_area #tama_logo{
		margin-left: 492px;
		margin-top: 230px;
		position: absolute;
	}
	
	#content #logo_area #walden_logo{
		margin-left: 740px;
		margin-top: 220px;
		position: absolute;
	}
	
	#content #logo_area #dimarzio_logo{
		margin-left: 14px;
		margin-top: 350px;
		position: absolute;
	}
	
	#content #logo_area #ernieball_logo{
		margin-left: 250px;
		margin-top: 350px;
		position: absolute;
	}
	
	#content #logo_area #prs_logo{
		margin-left: 492px;
		margin-top: 355px;
		position: absolute;
	}
	
	#content #logo_area #danelectro_logo{
		margin-left: 740px;
		margin-top: 350px;
		position: absolute;
	}
	
	#footer{
		height: 50px;
		width: 100%;
		bottom: auto;
		margin-top: 10px;
		background-color: red;
		position: absolute;
	}
	
	#footer #contact_info{
		margin-top: 5px;
		text-align: center;
		color: #ffffff;
		font-weight: 800;
		position: relative;
	}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
